doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/tictactoe.css')
    script(src='/jquery.min.js')
    script(src='/tictactoe.js')
  body
      h1 Tic-Tac-Toe
      .content
        // for player information
        p.info
        // for game status
        p.status Loading...
        // game table
        table#game
